<!-- fotorama.css & fotorama.js. -->
<link  href="css/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
<script src="js/libs/fotorama/fotorama.js"></script> <!-- 16 KB -->
<style>





/* http://www.colorzilla.com/gradient-editor/ */
body{
background-color:black;
color: #BDBDBD;
}
#page{
bottom:0px;
position:absolute;
}

h1{
top: -281px;
position: relative;
}
#eventsList{
padding-left: 0;
text-align: center;

}
#sponsorCylcer{
position:absolute;
	margin-left:auto;
	margin-right:auto;
	top: 0px;

	


		}
		

		
		
#slidePage div{
		left: 0px;
		position: relative;
		width: 100%;
		text-align: center;
		}
		
#slidePage text{
		position: absolute;
		bottom: 110px !important;
		width: 520px !important;
		right: 20px;	
		font-size: 20px;
		line-height: 2;
}

.detailImage{
 mix-blend-mode: screen;
position: relative;
width: <% print(width) %>;
height: auto;
left:0px;
}



#caption{

bottom:0px;
position: absolute;
margin-top: 40px;
width:100%;
z-index:1;
/*padding-left: 20px;*/
}


.captionText{

position:absolute;
z-index:100;
font-weight: bold;
font-size: 51.5px;
line-height: 65px;
}


#datesAndInfo h2{
padding-left: 20px;
font-size: 51.5px;
line-height: 60px;
}


.imageCaption {
	display:none;
	/* display:inline; */
    position: absolute;
    z-index: 100;
    padding: 20px;
    font-size: 14px;
    line-height: 19px;
    right: 0px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    text-align: right!important;
    FONT-WEIGHT: lighter;
    width: 100%;
    text-shadow: -1px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;

overflow:hidden;
height:10%;

}



.miniFont{
font-size:35 !important;
line-height:1 !important;
}

.microFont{
font-size:25 !important;
line-height:1.3 !important;
}

.fotorama__caption__wrap {
background-color: #fff;
background-color: rgba(255,255,255,.9);
padding: 5px 10px;
}
.fotorama__caption__wrap {
box-sizing: border-box;
}
.fotorama__caption__wrap, .fotorama__nav__frame, .fotorama__nav__shaft {
-moz-box-orient: vertical;
display: inline-block;
vertical-align: middle;
}

#datesAndInfo{
position:absolute;
top: 1880;
width:100%;
z-index:1;
padding-left: 20px;


}
h1 {
top: -281px;
position: relative;
font-size: 68.5px;
line-height:2;}



#poster_1{
z-index: 200;}

.fotorama{
opacity:0.0;
}
</style>

<div class="fotorama-wrap">
<div class="fotorama"
     data-autoplay=<% print(looptime * 1000) %>
	 data-transition="<% print(transition) %>"
	  data-transition-duration="3000"
     data-width="100%"
	 data-height="100%"
     data-ratio="3/2"    
	 data-swipe="false"
	 data-arrows="true"
	 data-click="false"	 
	 thumbwidth="200"
	 data-nav="false"
	 data-loop="true"
>
<!-- data-nav="thumbs"-->


<% 
console.log('looptime' + looptime)
var slideCounter 
console.log(posters)




  _.each(posters, function(poster) { 
				//if(Record.get('images')){
						//if(Record.get('images')[0]){
								var item = TemplateVarialbes.ImageFolder +poster.get('irn')+ ".jpg"
								var data_img = item;		
								var data_thumb 	= item;	
								var data_irn 	= poster.get('irn')	
								
								
								new Image().src = item
								console.log(item)
								
								var  imageError= TemplateVarialbes.ImageRedirectURL+data_irn + TemplateVarialbes.ImageSizePrefix 			
						//}
%>		

		<div data-thumb="<% print(data_thumb) %>">
					<div class="slidePage">
							<div class="slidenav">
							
							<div class="imageCaption" >
							<div class="captionText" ><%=poster.get('strapline')%></div></div>
							<div 	imageirn="data_irn"  
									href="<% print(data_img) %>" 
									data-lightbox="<%= poster.get('irn') %>" 
									data-title="<%=  poster.get('caption') + " " +  poster.get('copyright') %>">
									
									<div class="detailImageIcon"></div>
									<img  onError="this.onerror=null;this.src='<% print(imageError) %>';" 
										imageirn="<% print(data_irn) %>"  
										data-caption="One"										  
									  	src="<% print(data_img) %>" 
										class="detailImage"/>
							</div>
										
												
<% 										
											var imageCount=0
											//_.each(Record.get('images'), function(imagex) { 							
												//if(imageCount>0){								 	
													//if( imagex.file){								
														
														var image = new Image();
														image.src = item; 				
														var imgcheck = image.width;    
														if (imgcheck==0) {				
															item= TemplateVarialbes.ImageRedirectURL+data_irn + TemplateVarialbes.ImageSizePrefix
															data_img = item	
															data_thumb = item
															var iterator = 0

%>

					
<% 													}	
																				
							
	
%>
</div>
</div>
</div>


<% 


//if( recordToNavTo==Record.get('irn')){
	 //IndexCount=slideCounter
	 //}
	slideCounter++
	//}
})

%>

</div>
<img class="arrowHelp" src="images/arrows.png" alt="use the arrow keys to navigate"  title="use the arrow keys to navigate"</img>
</div>
<script>


$(function () {

$('.fotorama').delay(1000).animate({ opacity: 1 }, 2000);


window.px=0
	function moveContent(px) {
		   $('.section').clearQueue()
		   if(window.px<=0){window.px=0}
	window.px+=pxz
    $('.section').animate({scrollTop:px},px);

  
}
	
	
	
    // 1. Initialize fotorama manually.
    var $fotoramaDiv = $('.fotorama').fotorama({
	thumbwidth :100,
	thumbheight :100
	});

    // 2. Get the API object.
    var fotorama = $fotoramaDiv.data('fotorama');
console.log('starting from poster number ' + <% print(IndexCount)  %>)
	fotorama.show(<% print(IndexCount)  %>)
	$(window).trigger('resize');
	
			
			
		$("body").keydown(function(e) {
	
	e.stopPropagation()
  if(e.keyCode == 37) { // left
  
 

    fotorama.show(fotorama.activeIndex -1)	
  }
  else if(e.keyCode == 39) { // right
   fotorama.show(fotorama.activeIndex +1)
  }
   else if(e.keyCode == 38) { // right
  moveContent(-100);
  }
   else if(e.keyCode == 40) { // right

     moveContent(100);
  }
});
	

	
  });
  
</script>

										 
					 