
<style>

/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2e10a6");

  
@font-face {font-family: 'AmericanTypewriterStd-Med';src: url('css/webfonts/2E10A6_0_0.eot');src: url('css/webfonts/2E10A6_0_0.eot?#iefix') format('embedded-opentype'),url('css/webfonts/2E10A6_0_0.woff2') format('woff2'),url('css/webfonts/2E10A6_0_0.woff') format('woff'),url('css/webfonts/2E10A6_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'AvantGardeGothicITCW01Bk';src: url('css/webfonts/2E10A6_1_0.eot');src: url('css/webfonts/2E10A6_1_0.eot?#iefix') format('embedded-opentype'),url('css/webfonts/2E10A6_1_0.woff2') format('woff2'),url('css/webfonts/2E10A6_1_0.woff') format('woff'),url('css/webfonts/2E10A6_1_0.ttf') format('truetype');}
 
 
#bmagLOGO{
display:none;
}

#heading{
font-family: 'AvantGardeGothicITCW01Bk';
display:none;
}

h1 {
		colour:black
		line-height: 1.3;
		font-size: 65;
		font-weight: bold;
	
}

h4 {
		line-height: 1.3;
		font-size: 35;
		font-weight: normal;
}


table { 
	width: 90%; 
	border-collapse: collapse;
	margin-left: 4%;  
	margin-right: 4%; 
}

/* Zebra striping */
tr:nth-of-type(odd) { 


}



/* Zebra striping */
.right { 
 -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);

}

.left { 
 -ms-transform: rotate(-180deg); /* IE 9 */
    -webkit-transform: rotate(-180deg); /* Chrome, Safari, Opera */
    transform: rotate(-180deg);

}

	
th { 


}
td, th { 
	font-size: 15;
	color:white;
	padding: 6px; 
	text-align: left; 
}

.border{

		width: 90%;
		vertical-align: top;
		display: block;
		-webkit-border-image:url("images/line.png"); /* Safari 3.1-5 */
		-o-border-image:url("images/line.png") ; /* Opera 11-12.1 */
		border-image:url("images/line.png") 35 35 round;
		/*border-width:3.5;*/
		border-width: 0.09 em;
		border-bottom:0;
		border-left:0;
		border-right:0;
		padding-bottom:1%;
		

}


.eventImage{
width:200px;
}

#bottomImage{
vertical-align: bottom;
position: relative;
width: 100%;
bottom: -220px;
}

.hidden{
display:none
}

#cycler{vertical-align:bottom;bottom:-200px;position:relative;width: 100%;}
#cycler img{position:absolute;bottom:0px;width:100%;display:none}


</style>



