<style>
#page{
display:none
}
#eventsList iframe, #eventsList object, #eventsList embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

#eventsList{
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

#caption{
		position: relative;
		margin-top: 40px;
		width:100%;
		z-index:1;
		/*padding-left: 20px;*/
}

.captionText{
	font-weight: bold;
	font-size: 51.5px;
	line-height: 65px;
	top: 600px;
	color:white;
position: absolute;
}



</style>
    <div id="player"></div>
	
	<div id="caption">
<div  class="captionText"  >test caption
</div>

    