<style>
/* http://www.colorzilla.com/gradient-editor/ */
body{
background-color: #ffffff;/* IE6-9 */;
background:white;
}

#eventsList h1{
top: -281px;
position: relative;
font-size:30;
}


#eventsList{
position:absolute;
padding-left:0;
padding-bottom:30%;
text-align:center;
padding: 40px;
}
#sponsorCylcer{
	text-align:center;
	bottom: 280px;
	position: relative;
	
width:1000px;
		}
#sponsorCylcer img{

    /* max-width: 270px; */
    /* max-height: 100px; */
    height: 180px;
    position: relative;
    top: 50px;
    width: 180px;
    margin-bottom: 1.5em;
    display: block;
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.2);
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    padding: 20px;
    /* margin-top: 20px; */

}	
		
#sponsorCylcer div{
    height: 109px;
    /* padding-bottom: 150px; */
    padding-bottom: 150px;
    width: 199px;
    float: left;
    top: 60px;
    /* padding: 30px; */
    margin: 24px;
	
		}
		
#sponsorCylcer text{
		position: absolute;
		bottom: 110px !important;
		width: 520px !important;
		right: 20px;	
		font-size: 20px;
		line-height: 2;
}




#sponsorCylcer div.hidden{	
	opacity:0;
}

.appear
      opacity: 1;
	     transition: opacity 1s 
   -moz-transition: opacity 1s
   -webkit-transition: opacity 1s
      }


</style>
<h1> Bristol Museums would like to thank our current corporate supporters:</h1>
<div  id="sponsorCylcer"> 
 <%  var counter = 0

	
	
	

		 _.each(sponsors, function(sponsor){ 
		 
		 				 function UrlExists(url)
{
    var http = new XMLHttpRequest();
    
	try{
	http.open('HEAD', url, false);
    http.send();
	}
	catch(err){
	return false;
	}
    return http.status!=404;
}
EventImage="sponsor-logos/"+  sponsor.get('logoIRN')+".jpg"
if(	!UrlExists(EventImage))	{
										EventImage="http://museums.bristol.gov.uk/multimedia/entry.php?request=resource&irn="+  sponsor.get('logoIRN')	+ "&width=300&format=jpeg"
										}
	if(counter>=offset &&  sponsor.get('logoIRN')>0){
		 %>
		<!--<div  class="<% if (counter==0){ print("active")} %>">  <%=  sponsor.get('name') %>-->
		<div  id="sponsor_<%  print(counter) %>"  class="">
		<img  src="<%  print(EventImage) %>" />
		</div>
	

<% } counter++} ); %>
</div>

<script>

$('#sponsorCylcer img').height()
$(window).height()
</script>
